@import "tailwindcss";


@theme {
  --font-abeeze: "ABeeZee", sans-serif;
  --second-DmSans: "DM Sans", sans-serif;
  --third-roboto: "Roboto", sans-serif;
  --font3-taprom: "Taprom", sans-serif;
  --font4-doppio: "Doppio One", sans-serif;
  --font5-abhaya: "Abhaya Libre", sans-serif;
  --font6-montserrat: "Montserrat", sans-serif;
}

